.logo:hover {
    border-radius: 25rem;
    transition-duration: 2s ;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
}

.jumbotron:hover {
    background-color: #e9ecef;
}

footer {
    text-align: center;
}

